*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
  padding-top: 80px;
}
.container{
    margin: 0 auto;
    padding: 10px 15px;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #fff;
    box-shadow: 0 0 3px 3px #f1f1f1;
}
header h1{
    font-size: 36px;
    line-height: 80px;
    text-align: center;
    flex-grow: 1;
}
header .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}


.search-icon{
  font-size: 26px;
  cursor: pointer;
}


.character{
    display: flex;
    column-gap: 25px;
    padding: 10px;
    margin: 25px 0;
    box-shadow: 0 0 3px 3px #f1f1f1;
    border-radius: 5px;
}
.character .char-img{
    width: 160px;
    height: 200px;
}

.character .char-img img{
    width: 100%;
    height: 100%;
}

.character .char-bio h3{
    font-size: 22px;
    margin-top: 5px;
    margin-bottom: 15px;
}
.character .char-bio div{
    margin-top: 12px;
}

footer{
  padding: 20px 0;
  background-color: #f2f2f2;
}

footer p{
  font-size: 14px;
  text-align: center;
}

/* ###  Media Queries  ### */

@media screen and (max-width: 576px) {
    .container {
      width: 100%;
    }
  }
  
  @media screen and (min-width: 577px) {
    .container {
      width: 95%;
    }
  }
  
  @media screen and (min-width: 992px) {
    .container {
      width: 85%;
    }
  }